body {
	background: #66CDAA fixed left top;
	color: #333333;
	font-family: "Courier New";
	font-size: 0.8em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.8;
	text-align: center;
}