body {
	background: #ff9933 fixed left top;
	color: #333333;
	font-family: "Courier New";
	font-size: 0.75em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
}